@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans&family=Noto+Serif+Display:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.typed-cursor {
    display: inline;
    font-size: 1.875rem;
}

@media (min-width: 720px) {
    .typed-cursor {
        font-size: 2.25rem/* 36px */;
    }
}

@media (min-width: 960px) {
    .typed-cursor {
        font-size: 3rem/* 48px */;
    }
}

.active {
    background-color: rgba(0,0,0,0.16);
}